---
import { Image } from "astro:assets";

import BaseLayout from "../layouts/BaseLayout.astro";

import GradientButton from "../components/GradientButton.astro";
import OutlinedButton from "../components/OutlinedButton.astro";
import RocketAnimated from "../components/RocketAnimated.astro";

import { Content as MeetMike } from "../meet_astro_mike.md";

const heroText = "Astronaut. Columbia Professor. Media Personality. Bestselling author. Explorer.";
const inspiringTalks =
  "Mike shares with audiences personal stories of inspiration, innovation, teamwork, and leadership as drawn from his experiences in one of the greatest and most dangerous jobs someone can have—NASA astronaut. Mike’s talks leave audiences feeling motivated and inspired to tackle their own challenges with determination, creativity, and a renewed sense of teamwork.";

const highlightedVideo = {
  title: "Astronaut Answers Questions from Twitter | Tech Support | Wired",
  url: "https://www.youtube.com/watch?v=YtIw3wqHeNY",
};

import highlightedVideoImg from "../assets/image 16.png";
import meetMikeImage from "../assets/mike/image 8.png";
import moonImage from "../assets/moon.svg";
import astroMike from "../assets/mike/spaceman_cutout.png";

import frequentGuestImg from "../assets/daily.jpg";
import tvMoviesImg from "../assets/bbt.jpg";

import changeHighlightedSpeakingImg from "../assets/highlighted_speaking/change.jpg";
import resilienceHighlightedSpeakingImg from "../assets/highlighted_speaking/resilience.jpg";
import teamworkHighlightedSpeakingImg from "../assets/highlighted_speaking/teamwork.jpg";
---

<BaseLayout pageTitle="Home">
  <!-- Moon in the top bar -->
  <Image src={moonImage} alt="Moon." loading="eager" class="absolute top-0 right-0 w-32 lg:w-60 h-auto z-10" />

  <!-- Hero Section -->
  <section
    class="relative grid grid-cols-8 grid-rows-hero gap-y-5 bg-hero-gradient bg-cover items-center
                  lg:min-h-[400px] lg:pt-8"
  >
    <h2
      class="col-span-8 row-span-2 text-center capitalize mt-8 text-white text-header font-exo leading-10
             lg:max-w-3xl lg:col-start-4 lg:row-start-2 lg:text-4xl lg:mr-8
             2xl:row-start-1 2xl:mt-28 2xl:text-5xl 2xl:leading-snug"
    >
      {heroText}
    </h2>

    <div
      class="col-span-4 col-start-4 row-start-3 row-span-1 align-middle sm:mt-12 max-w-fit
                lg:col-start-5 lg:row-start-4 lg:col-span-3 lg:mt-0
                2xl:row-start-3"
    >
      <GradientButton link="/speaking" text="SPEAKING INFORMATION" />
    </div>

    <div
      class="col-span-4 col-start-5 row-span-1 row-start-4 z-10
                lg:absolute lg:left-20 lg:col-start-1 lg:row-start-2 lg:mb-40 2xl:ml-32"
    >
      <h3 class="text-white font-jost text-[36px] lg:text-6xl leading-[2.8rem]">Mike Massimino</h3>
    </div>

    <div class="col-span-5 row-span-2 col-start-1 row-start-5 -mb-24 relative
                lg:ml-24">
      <Image
        src={astroMike}
        alt="Mike Massimino headshot."
        loading="eager"
        class="absolute bottom-0 left-0 object-cover w-full max-w-96 lg:w-max-w-3xl 2xl:ml-48"
      />
    </div>
  </section>

  <!-- Meet Astro Mike V2 -->
  <section
    class="grid grid-cols-8 grid-rows-meet items-center
                  md:grid-cols-12 md:grid-rows-meetMd
                  px-5 pb-16 lg:pb-20 lg:pt-12 pt-8 gap-x-3
                  lg:mx-auto lg:max-w-7xl"
  >
    <h2
      class="row-start-1 col-start-1 col-span-full
               md:col-start-2
               font-exo lg:text-5xl text-header text-red
               lg:mb-5"
    >
      Meet Astro Mike
    </h2>

    <div
      class="row-start-2 col-start-1 col-span-full
                md:col-start-2 md:col-span-6
                space-y-4 mb-3
                md:max-w-xl
                lg:text-[16px] lg:pr-12
                text-gray text-body font-roboto"
    >
      <MeetMike />
    </div>

    <Image
      src={meetMikeImage}
      alt="Mike Massimino speaking on stage."
      loading="eager"
      class="row-start-7 row-span-2 col-start-1 col-span-4 md:row-start-2 md:col-span-5 md:col-start-8 lg:row-start-1 md:max-w-md md:h-auto"
    />

    <div
      class="row-start-7 row-span-1 col-start-5 col-span-4
                md:row-start-8 md:col-start-2 md:col-span-3 md:max-w-80 z-10"
    >
      <GradientButton link="https://mikemassimino.paperform.co/" text="CONTACT MIKE" />
    </div>
    <div
      class="row-start-8 row-span-1 col-start-5 col-span-4
                md:row-start-8 md:col-start-5 md:col-span-3 md:max-w-80 z-10"
    >
      <OutlinedButton link="/biography" text="FULL BIO" />
    </div>
  </section>

  <!-- Highlighted video feature card -->
  <a href={highlightedVideo.url}>
    <div
      class="hidden lg:block absolute left-[calc(70%-5rem)] -translate-y-36 bg-almostwhite shadow-[0_0_15px_3px_rgba(0,0,0,0.3)] rounded-2xl max-w-80 p-4"
    >
      <Image src={highlightedVideoImg} alt="Thumbnail of Mike on Wired." loading="lazy" />
      <h4 class="text-center italic font-jost font-lg">{highlightedVideo.title}</h4>
    </div>
  </a>

  <!-- Rocket -->
  <div class="hidden lg:block absolute max-w-96 lg:max-w-none lg:w-[1000px] xl:translate-x-40 xl:w-6xl -translate-y-36">
    <RocketAnimated />
  </div>

  <!-- Content Cards -->
  <section class="bg-gradient-to-r from-[#7DCFFF] via-[#2E8FE7] to-[#091E3A] py-8 px-3 lg:pt-40">
    <div
      class="max-w-96 mx-auto lg:max-w-none space-y-8 lg:space-y-0 flex flex-col lg:flex-row lg:items-center lg:justify-center"
    >
      <!-- Card 1 -->
      <div class="lg:order-2 lg:ml-8">
        <div class="lg:flex lg:flex-col lg:items-center">
          <!-- Images -->
          <div class="flex flex-row shadow-lg">
            <img
              src={"/img/books/moonshot_cover.png"}
              alt="Cover of Moonshot."
              class="w-1/2 lg:max-w-[15em] lg:h-auto rounded-tl-3xl"
            />
            <img
              src={"/img/books/cover2.jpg"}
              alt="Cover of Spaceman."
              class="w-1/2 lg:max-w-[15em] lg:h-auto rounded-tr-3xl"
            />
          </div>

          <!-- Body -->
          <div class="bg-gradient-to-b from-[#FDBE3D] to-[#E59447] rounded-b-3xl p-4 lg:max-w-[30em] shadow-lg">
            <h3 class="text-white text-center font-jost font-medium text-xl mb-2 lg:text-3xl">
              New York Times Bestselling Author
            </h3>
            <p class="text-dimwhite text-center font-reddit lg:text-lg font-light">
              Mike is a New York Times Bestselling author. Check out his books: Moonshot, Spaceman, and Spaceman
              (Adapted for Young Readers).
            </p>
            <a href="/books" class="">
              <div
                class="mx-auto mt-4 flex text-center max-w-40 md:max-w-56 md:h-12 rounded-2xl justify-center bg-blue text-white font-reddit font-light text-md md:text-xl items-center px-1 py-1"
              >
                Check out Mike's Books
              </div>
            </a>
          </div>
        </div>
      </div>

      <!-- Cards 2 and 3 -->
      <div class="space-y-8 lg:max-w-[40em] lg:order-1">
        <!-- Card 2 -->
        <div class="flex flex-row lg:h-60">
          <!-- Images -->
          <Image
            src={tvMoviesImg}
            loading="lazy"
            class="w-1/2 aspect-[4/3] object-cover rounded-l-3xl flex lg:max-w-[20em] lg:h-auto shadow-lg"
            alt="Mike's cameo on the Big Bang Theory."
          />

          <!-- Body -->
          <div class="bg-gradient-to-l from-[#1C1D1E] to-[#0C48A8] shadow-lg rounded-r-3xl p-3 md:pl-6 md:pt-5 w-1/2">
            <h3 class="text-white text-left font-jost font-medium text-xl mb-2 lg:text-3xl">TV & Movies</h3>
            <p class="text-dimwhite text-left font-reddit lg:text-lg md:pr-4 font-light">
              Mike has been featured in many hit shows, including The Big Bang Theory.
            </p>
            <a href="/media" class="">
              <div
                class="mx-auto mt-4 flex text-center max-w-40 md:max-w-56 md:h-12 rounded-2xl justify-center bg-gray text-white font-reddit font-light text-md md:text-xl items-center px-1 py-1"
              >
                Watch Mike's Features
              </div>
            </a>
          </div>
        </div>
        <div class="flex flex-row lg:h-60">
          <!-- Images -->
          <Image
            src={frequentGuestImg}
            loading="lazy"
            class="w-1/2 aspect-[4/3] object-cover rounded-l-3xl shadow-lg flex lg:max-w-[20em] lg:h-auto"
            alt="Mike on the television."
          />

          <!-- Body -->
          <div class="bg-gradient-to-l from-[#1C1D1E] to-[#0C48A8] shadow-lg rounded-r-3xl p-3 md:pl-6 md:pt-5 w-1/2">
            <h3 class="text-white text-left font-jost font-medium text-xl mb-2 lg:text-3xl">Frequent Guest</h3>
            <p class="text-dimwhite text-left font-reddit lg:text-lg md:pr-4 font-light">
              Mike is a frequent guest and contributor to news programs, late-night TV, podcasts, and more.
            </p>
            <a href="/media" class="">
              <div
                class="mx-auto mt-4 flex text-center max-w-40 md:max-w-56 md:h-12 rounded-2xl justify-center bg-gray text-white font-reddit font-light text-md md:text-xl items-center px-1 py-1"
              >
                See Mike on TV
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Inspiring Talks Section -->
  <section class="bg-gradient-to-r from-[#EDF5FF] to-[#D7E6FF]">
    <div class="px-6 pt-5 pb-14 lg:max-w-5xl xl:max-w-6xl lg:gap-12 lg:mx-auto space-y-5 lg:px-16 xl:pt-8">
      <!-- Section title -->
      <h2
        class="font-exo text-header col-span-full text-red lg:mb-3 lg:text-5xl 2xl:text-5xl lg:max-w-lg lg:leading-tight 2xl:leading-snug"
      >
        Inspiring Talks from Space to Earth
      </h2>

      <!-- Text and watch CTA -->
      <div class="flex items-center lg:pb-6">
        <div class="text-gray text-body font-roboto lg:text-lg lg:pr-12 lg:leading-snug">
          {inspiringTalks}
        </div>
        <div class="md:flex-shrink-0 uppercase font-light">
          <OutlinedButton link="/speaking" text="Watch Mike's highlights" />
        </div>
      </div>

      <!-- Speaking cards -->
      <div class="lg:flex lg:flex-row lg:space-x-16 lg:pb-4 lg:items-center">
        <div class="flex flex-col max-w-96 mx-auto">
          <a href="https://vimeo.com/673764082" rel="noreferrer noopener" target="_blank">
            <Image
              src={teamworkHighlightedSpeakingImg}
              alt="Mike speaking."
              class="rounded-t-2xl aspect-video object-cover"
            />
          </a>
          <div class="px-5 pb-6 bg-blue rounded-b-2xl">
            <h3 class="text-white font-jost mt-4 mb-2 text-[20px]">On Teamwork and Leadership</h3>
            <p class="text-body text-white font-roboto">
              Individual accomplishments are needed, but the success of the team is most important. In our complex
              world, not everyone can be good at everything. But by pooling our abilities, we can be good at everything
              as a team.
            </p>
          </div>
        </div>

        <div class="lg:flex flex-col max-w-96 mx-auto hidden">
          <a href="https://vimeo.com/996710486" rel="noreferrer noopener" target="_blank">
            <Image
              src={resilienceHighlightedSpeakingImg}
              alt="Mike speaking."
              class="rounded-t-2xl aspect-video object-cover"
            />
          </a>
          <div class="px-5 pb-6 bg-blue rounded-b-2xl">
            <h3 class="text-white font-jost mt-4 mb-2 text-[20px]">Resilience in the Face of Adversity</h3>
            <p class="text-body text-white font-roboto">
              Sometimes forces out of our control can make moving forward difficult. In spite of our best efforts we
              often get knocked down repeatedly. But we need to find a way around that next obstacle. Mike encourages
              audiences: When the odds are against you, do it anyway.
            </p>
          </div>
        </div>

        <div class="lg:flex flex-col max-w-96 mx-auto hidden">
          <a href="https://vimeo.com/998000697" rel="noreferrer noopener" target="_blank">
            <Image
              src={changeHighlightedSpeakingImg}
              alt="Mike speaking."
              class="rounded-t-2xl aspect-video object-cover"
            />
          </a>
          <div class="px-5 pb-6 bg-blue rounded-b-2xl">
            <h3 class="text-white font-jost mt-4 mb-2 text-[20px]">Accepting Organizational & Technological Change</h3>
            <p class="text-body text-white font-roboto">
              In today’s spaceships, AI performs many of the decision making tasks previously done by astronauts. But
              the path getting there was not easy. Mike encourages audiences to embrace new technologies to give them
              the competitive edge they need in meeting the challenges of a dynamic and uncertain world.
            </p>
          </div>
        </div>
      </div>

      <!-- CTA -->
      <div class="flex flex-col items-center mt-4">
        <h2 class="font-jost text-red text-center text-2xl lg:text-3xl lg:mb-3">
          Bring Mike’s Inspiring Stories to Your Event:
        </h2>
        <div class="max-w-38 mt-2">
          <GradientButton link="/speaking" text="SPEAKING INFORMATION" />
        </div>
      </div>
    </div>
  </section>
</BaseLayout>

<script>
  // @ts-ignore
  import fsLightbox from "fslightbox";
</script>
