---
import BasePageLayout from "./BasePageLayout.astro";
const { frontmatter } = Astro.props;
---

<BasePageLayout pageTitle={frontmatter.title} description={frontmatter.description}>
  <h1 class="my-5 text-center font-jost text-header lg:text-4xl xl:mt-12">
    {frontmatter.title}
  </h1>

  <hr class="mx-auto mb-5 w-40 border-lightgray xl:mb-8" />

  <div class="mx-auto max-w-96 lg:float-right lg:ml-4 xl:w-full xl:max-w-md">
    <img src={frontmatter.mainImage} alt={frontmatter.mainImageAlt} class="rounded-lg" />
    <p class="pt-1 text-right italic">{frontmatter.mainImageAlt}</p>
  </div>
  <div class="markdown-content mt-4 space-y-4 font-roboto text-body text-gray md:text-lg lg:space-y-8">
    <slot />
  </div>
</BasePageLayout>

<style is:global>
  .markdown-content em {
    @apply font-sans;
  }

  .markdown-content h1 {
    @apply font-exo text-3xl text-red;
  }

  .markdown-content h2 {
    @apply font-exo text-xl;
  }

  .markdown-content a {
    @apply text-orange;
  }
</style>
